$sec: #bbb;
$bg: #202124;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  overflow-x: scroll;
  background-color: $bg;
  font-family: "Roboto Mono", monospace;

  height: fit-content;
  width: 100vw;
  color: $sec;

  justify-content: space-around;
}

@media screen and (min-width: 950px) {
  body {
    flex-direction: row;
  }
}

main {
  display: flex;
  flex-direction: column;

  height: 80vh;
}

#options {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

canvas {
  border: 1px solid $sec;
}

button {
  background-color: $bg;
  color: $sec;

  font-family: "Roboto Mono", monospace;
  padding: 5px;

  border: 1px solid $sec;
  margin-bottom: 10px;
}
